* {
    font-family: sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    margin: 0;
}

header {
    background: #1f2937;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 0px 100px;
    margin: 0;
}

.header-logo {
    font-size: 24px;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 12px;
    font-size: 18px;
    color: #e5e7eb;
}

.hero {
    display: flex;
    flex: 0 0 auto;
    gap: 100px;
    padding-bottom: 75px;
}

.hero-image {
    width: 600px;
    height: auto;
    background-color: #a0a0a0;
    display: flex;
    align-items: center;
    justify-content: center;

}

button {
    background-color: #3882F6;
    border-radius: 12%;
    border-color: white;
    color: white
}

.hero button {
    border-color: #3882F6;
}

.card img {
    border: #3882F6 solid 6px;
    width: 200px;
    height: 200px;
    border-radius: 8%;
}

.card p {
    width: 200px;
}

section{
    display: flex;
    padding: 35px 200px 100px 200px;
    flex-direction: column;
}

.card-heading {
    align-self: center;
}

.card-container {
    display: flex;
    flex: 1;
    gap: 30px;
    justify-content: space-between;
}

.section-quote {
    background-color: #e5e7eb;
    padding: 100px 200px 100px 200px;

}

.section-quote :nth-child(1) {
    font-style: italic;
    font-weight: lighter;
    font-size: 36px;
    color: #1F2937;
}

.section-quote :nth-child(2) {
    align-self: flex-end;
    font-weight: bolder;
}

.section-cta {
    padding: 100px 0px 100px 0px;
    display: flex;
    color: white;
}

.cta-container {
    display: flex;
    background-color: #3882F6;
    justify-content: space-between;
    padding: 40px 200px 40px 200px;
    align-items: center;
}

.cta-container button {
    height: max-content;
    padding: 10px 20px;
}

footer{
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    color: white;
    padding: 10px;
}

